.clickableList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.clickableListItem {
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 0.1rem;
}

.clickableListItem:hover {
    color: white;
}