.regionalView {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.surfbreaksColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.suggestButton {
    color: silver;
}

.suggestButton:hover {
    color: white;
}